@import url(./font.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "DM Sans";
  font-weight: 400;
}

.section-1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../assets/images/s1-bgi.webp);
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
header .header__content {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .header__content nav {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 50px;
}
header .header__content nav a {
  color: white;
  transition: all 0.2s ease;
}
header .header__content nav a:hover {
  color: #1e0303;
}

.header__img-beach {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 11;
}

.header__tittle {
  position: absolute;
  top: 200px;
  left: 240px;
}
.header__tittle h1 {
  color: white;
  font-size: 80px;
  margin-bottom: 25px;
}

.primary-button {
  padding: 15px 36px;
  color: white;
  background-color: #dd2242;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}
.primary-button .primary-button:hover {
  background-color: rgba(10, 10, 10, 0.7058823529);
}

.primary-button:hover {
  box-shadow: 0px 4px 28px -10px rgb(194, 43, 43);
}

.header__social-links {
  position: absolute;
  bottom: 90px;
  display: flex;
  align-items: center;
  gap: 30px;
  transform: rotate(-90deg);
}
.header__social-links a {
  color: white;
  cursor: pointer;
}

.header__info {
  position: absolute;
  bottom: 0;
  right: 380px;
  width: 900px;
  background-color: rgba(0, 0, 0, 0.445);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 30px;
}
.header__info .header__info-content {
  color: white;
}
.header__info .header__info-content .header__info-number {
  color: #dd2242;
  margin-bottom: 18px;
}
.header__info .header__info-content h3 {
  margin-bottom: 20px;
}
.header__info .header__info-content .primary-text {
  line-height: 25px;
}

.primary-text {
  color: #939393;
}

.section-2 {
  height: 700px;
  background-image: linear-gradient(180deg, rgba(1, 10, 32, 0.9450980392) 100%, rgba(1, 10, 32, 0) 100%), url(../assets/images/s2-bgi-mountain.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 32px;
  color: white;
}

.s2__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  margin: 0 300px;
}
.s2__content .s2__content-title h2 {
  margin-bottom: 15px;
}
.s2__content .s2__content-title .primary-text {
  margin-bottom: 20px;
}

.bgi {
  background-image: linear-gradient(180deg, rgba(1, 10, 32, 0.9450980392) 100%, rgba(1, 10, 32, 0) 100%), url(../assets/images/s2-bgi-sea.png);
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}

.section-3 {
  position: relative;
  height: 1700px;
  background-image: url(../assets/images/s3-bgi.png);
  background-position: center;
  background-size: cover;
}
.section-3 .section-title {
  padding-top: 40px;
  margin-bottom: 35px;
}
.section-3 .primary-text {
  margin-bottom: 40px;
}
.section-3 .s3-carousel {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  gap: 30px;
  transition: all 0.4s ease;
}
.section-3 .s3-carousel img:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
}

.s3__content {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 120px 200px;
  background: linear-gradient(180deg, rgba(1, 10, 32, 0.9450980392) 100%, rgba(1, 10, 32, 0) 100%);
}
.s3__content .section-title {
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}
.s3__content .primary-text {
  text-align: center;
}
.s3__content .s3__content-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.s3__content .s3__content-info .s2__content-info-number {
  display: block;
  color: #dd2242;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.section-4 {
  position: relative;
  height: 600px;
  width: 100vw;
}
.section-4 .s4-bottom-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.section-4 .s4-top-img {
  position: absolute;
  left: 0;
  top: 0;
}

.s4__content {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s4__content h2 {
  color: black;
  text-align: center;
  margin-bottom: 15px;
}
.s4__content p {
  text-align: center;
  line-height: 32px;
  margin-bottom: 20px;
}
.s4__content .primary-button {
  display: block;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */